<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

<div class="container">
    <h1>Book Information</h1>
    <p><strong>ID:</strong> <span th:text="${book.getId()}"></span></p>
    <p><strong>Name:</strong> <span th:text="${book.getName()}"></span></p>
    <p><strong>Author:</strong> <span th:text="${book.getAuthor()}"></span></p>
    <p><strong>Year:</strong> <span th:text="${book.getYear()}"></span></p>

    <br/>
    <hr/>
    <hr/>
    <a th:href="@{/books/{id}/edit(id=${book.getId()})}">EDIT</a>

    <form th:method="post" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="DELETE">
    </form>

    <br/>
    <hr/>
    <hr/>
    <br/>

    <div th:if="${book.getOwnerId != null}">
        <p>Эта книга сейчас у : <h3 th:text="${book.getOwnerId() + ' ' + owner}"></h3></p>
    </div>

    <div th:if="${list}">
        <h1>Эта книга свободна</h1>
        <h2>Назначить книгу человеку</h2>
        <form th:method="PATCH" th:action="@{/books/add/{id}(id=${book.getId()})}">
            <label for="person">Выберите человека</label>
            <select id="person" th:object="${person}" th:field="*{id}">
                <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
            </select>

            <input type="submit" value="Назначить книгу пользователю" />
        </form>
    </div>

</div>

</body>
</html>